h1 {
    text-align: center;
    font-family:'Sigmar One';
    color:#f5f5f5;
}
body
{
    background-color:#7a9d96;
    margin:10px;
}
p
{
    color:#f5f5f5;
}
.subHeader
{
    font-family:'Boogaloo';
    font-size:20px;
    text-decoration:underline;
    color:#373737;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    font-family:'Nova Mono';
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p{
    font-size: 16px;
    height: 100px;
    margin-top:30px;
}

#links button{
    Display:flex;
    flex-direction:column;
    padding:10px;
    margin-bottom:80px;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}
#sunnyPM
{
    margin-top:40px;
}
input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    border:3px double white;
    color:white;
    background-color:#373737;
}